<div class="col-md-3 animate-box">
    <div class="price-box animate-box">
	<h2 class="pricing-plan">{{ content.field_plan_title.0 }}</h2>
	<div class="price">{{ content.field_price.0 }}</div>
	<p>{{ content.field_descriptions.0 }}</p>
	<ul class="classes">
	{{ content.field_classes }}	
	</ul>
	{{ content.field_select_link_text.0 }}
	</div>
</div>