
					<div class="col-md-4 col-sm-6">
						<div class="team-section-grid animate-box" style="background-image: url({{ file_url(content.field_trainer_picture['#items'].entity.uri.value) }});">
							<div class="overlay-section">
								<div class="desc">
									<h3>{{ content.field_name.0 }}</h3>
									<span>{{ content.field_category.0 }}</span>
									<p>{{ content.field_descriptions.0 }}</p>
									<p class="fh5co-social-icons">
										{{ content.field_twitter.0 }}
										{{ content.field_facebook.0 }}
										{{ content.field_instagram.0 }}
									</p>
								</div>
							</div>
						</div>
					</div>